body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
}

input[type="text"],
input[type="number"],
input[type="datetime-local"],
button {
    padding: 10px;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 200px; /* Consistent input width */
    background-color: #555; /* Dark input and button background */
    color: #f4f4f9; /* Light text color */
}

button:hover {
    background-color: #5a5a9f; /* Darker hover color for buttons */
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #5a5a9f; /* Dark table header background */
    color: white; /* White text color */
}

/* Add alternating background colors to table rows */
tr:nth-child(even) {
    background-color: #444; /* Darker table row background */
}

#exportButton {
    font-size: 12px;
    padding: 5px 10px; /* Adjust padding as needed */
}

#summaryChart {
    background-color: white;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 5px;
}

h3 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}
